body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    background-attachment: fixed;
    overflow: hidden;
    color: white;
    position: relative;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

.heart, .heart2 {
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, rgba(56, 13, 210, 0.74), rgba(224, 37, 124, 0.6));
    margin: 0;
    animation: moveUp 10s infinite ease-in;
    animation-timing-function: ease-in;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    z-index: 1; /* Ensure hearts are below the container */
}

.heart:hover, .heart2:hover {
    transform: scale(1.5);
    opacity: 0;
}

.heart2 {
    width: 15px;
    height: 15px;
    animation: moveUp 15s infinite ease-in;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    z-index: 2; /* Ensure container is above the hearts */
    position: relative;
}
.cake {
    font-size: 3.5em; /* Adjust the font size to make the cake emoji larger */
    padding: 0 10px; /* Optional: Add padding for better spacing */
    display: inline-block; /* Ensure it behaves like a block element */
}
h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    background: linear-gradient(to right , #ff416c, #ff4b2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;
    font-family: "Playwrite MX", cursive;
    

}

#countdown {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.time-section {
    margin: 0 15px;
    text-align: center;
    transition: transform 0.3s;
}

.time-section:hover {
    transform: scale(1.1);
}

.time {
    display: block;
    font-size: 3em;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
    color: #2bdcff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: .3s;
    cursor: pointer;

}
.time:hover{
    color:lightgoldenrodyellow;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.493);
    transition: .3s;
}
.label {
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 5px;
    color: #ff416c;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#birthday-message {
    margin-top: 20px;
    font-size: 1.9em;
    /* color: #ff416c; */
    text-shadow: 1px 1px 2px  #ff416d7d;
    -webkit-text-stroke: 2px black;
    -webkit-text-stroke-color: transparent;
    color: transparent;  
    background-image: linear-gradient( 270deg, #ff00d0, #fed90f, #00a2ff, #09f1b8);
    -webkit-background-clip: text;
    font-weight: 900;
    font-family: "Playwrite MX", cursive;
    background-repeat: no-repeat;
    background-position: -750px 0;
    animation: backcolor 20s linear infinite; /* Adjust animation duration as needed */
}
@keyframes backcolor {
    100% {
        background-position: 750px 0; /* Adjust the gradient width based on text length */
    }
}
